/* 
  Remove 6 lines limit in bios
 */
@import url(https://raw.githubusercontent.com/lumap/css-snippets/main/make-bios-long.css);
/* 
  Fix badges clipping out of their container in mini profiles
 */
@import url(https://raw.githubusercontent.com/lumap/css-snippets/main/double-row-badges-fix.css);
/* 
  Mini user popout
 */
/* @import url(https://raw.githubusercontent.com/lumap/css-snippets/main/clean-user-popout.css); */

/* 
  Add '@' to username
 */
:is([class*='userTagWithNickname'], [class*='nameTagSmall']) span:only-child:before {
	content: '@';
}
