[data-popout-root],
html {
  --brand-experiment: #89b4fa;
  --brand-experiment-100: white;
  --brand-experiment-130: white;
  --brand-experiment-160: white;
  --brand-experiment-200: white;
  --brand-experiment-230: white;
  --brand-experiment-260: white;
  --brand-experiment-300: white;
  --brand-experiment-330: white;
  --brand-experiment-360: #ebf2fe;
  --brand-experiment-400: #d2e3fd;
  --brand-experiment-430: #bad3fc;
  --brand-experiment-460: #a1c4fb;
  --brand-experiment-500: #89b4fa;
  --brand-experiment-530: #71a4f9;
  --brand-experiment-560: #5895f8;
  --brand-experiment-600: #4085f7;
  --brand-experiment-630: #2776f6;
  --brand-experiment-660: #0f66f5;
  --brand-experiment-700: #0a5be0;
  --brand-experiment-730: #0956d4;
  --brand-experiment-760: #0851c8;
  --brand-experiment-800: #084cbc;
  --brand-experiment-830: #0747b0;
  --brand-experiment-860: #0742a3;
  --brand-experiment-900: #063d97;
  --brand-experiment-05a: rgba(137, 180, 250, 0.05);
  --brand-experiment-10a: rgba(137, 180, 250, 0.1);
  --brand-experiment-15a: rgba(137, 180, 250, 0.15);
  --brand-experiment-20a: rgba(137, 180, 250, 0.2);
  --brand-experiment-25a: rgba(137, 180, 250, 0.25);
  --brand-experiment-30a: rgba(137, 180, 250, 0.3);
  --brand-experiment-35a: rgba(137, 180, 250, 0.35);
  --brand-experiment-40a: rgba(137, 180, 250, 0.4);
  --brand-experiment-45a: rgba(137, 180, 250, 0.45);
  --brand-experiment-50a: rgba(137, 180, 250, 0.5);
  --brand-experiment-55a: rgba(137, 180, 250, 0.55);
  --brand-experiment-60a: rgba(137, 180, 250, 0.6);
  --brand-experiment-65a: rgba(137, 180, 250, 0.65);
  --brand-experiment-70a: rgba(137, 180, 250, 0.7);
  --brand-experiment-75a: rgba(137, 180, 250, 0.75);
  --brand-experiment-80a: rgba(137, 180, 250, 0.8);
  --brand-experiment-85a: rgba(137, 180, 250, 0.85);
  --brand-experiment-90a: rgba(137, 180, 250, 0.9);
  --brand-experiment-95a: rgba(137, 180, 250, 0.95);
}

.theme-dark,
.theme-light {
  --header-primary: #cdd6f4;
  --header-secondary: #a6adc8;
  --text-normal: #cdd6f4;
  --text-muted: #a6adc8;
  --text-link: #89b4fa;
  --text-link-low-saturation: #74c7ec;
  --text-positive: #a6e3a1;
  --text-warning: #f9e2af;
  --text-danger: #f38ba8;
  --text-brand: #89b4fa;
  --background-primary: #1e1e2e;
  --background-secondary: #181825;
  --background-secondary-alt: #14141f;
  --background-tertiary: #11111b;
  --background-accent: #89b4fa;
  --background-floating: #0d0d15;
  --background-nested-floating: #181825;
  --background-mobile-primary: #1e1e2e;
  --background-mobile-secondary: #181825;
  --chat-background: #1e1e2e;
  --chat-border: #11111b;
  --chat-input-container-background: #1e1e2e;
  --background-modifier-hover: rgba(205, 214, 244, 0.15);
  --background-modifier-selected: rgba(205, 214, 244, 0.2);
  --background-modifier-accent: rgba(205, 214, 244, 0.26);
  --background-modifier-active: rgba(205, 214, 244, 0.17);
  --info-positive-background: rgba(166, 227, 161, 0.15);
  --info-positive-foreground: #a6e3a1;
  --info-positive-text: #cdd6f4;
  --info-warning-background: rgba(249, 226, 175, 0.15);
  --info-warning-foreground: #f9e2af;
  --info-warning-text: #cdd6f4;
  --info-danger-background: rgba(243, 139, 168, 0.15);
  --info-danger-foreground: #f38ba8;
  --info-danger-text: #cdd6f4;
  --info-help-background: rgba(137, 220, 235, 0.15);
  --info-help-foreground: #89dceb;
  --info-help-text: #cdd6f4;
  --status-positive-background: #a6e3a1;
  --status-positive-text: #1e1e2e;
  --status-warning-background: #f9e2af;
  --status-warning-text: #1e1e2e;
  --status-danger-background: #f38ba8;
  --status-danger-text: #1e1e2e;
  --status-danger: #f38ba8;
  --status-positive: #a6e3a1;
  --status-warning: #f9e2af;
  --status-yellow-400: #f9e2af;
  --status-green-600: #a6e3a1;
  --primary-dark-600: #1e1e2e;
  --status-yellow-560: #f9e2af;
  --status-red-500: #f38ba8;
  --status-red-530: #f38ba8;
  --status-yellow-500: #f9e2af;
  --black-500: #11111b;
  --green-360: #a6e3a1;
  --yellow-360: #f9e2af;
  --red-400: #f38ba8;
  --primary-400: #bac2de;
  --primary-dark-700: #11111b;
  --status-green-560: #a6e3a1;
  --white-500: #cdd6f4;
  --guild-boosting-pink: #f5c2e7;
  --premium-perk-yellow: #f9e2af;
  --premium-perk-purple: #cba6f7;
  --premium-perk-dark-blue: #5895f8;
  --premium-perk-light-blue: #a1c4fb;
  --premium-perk-blue: #89b4fa;
  --premium-perk-green: #a6e3a1;
  --premium-perk-pink: #f5c2e7;
  --premium-perk-orange: #fab387;
  --status-green-400: #a6e3a1;
  --button-danger-background: #f38ba8;
  --button-danger-background-hover: #f17497;
  --button-danger-background-active: #649df8;
  --button-danger-background-disabled: #f38ba8;
  --button-positive-background: #a6e3a1;
  --button-positive-background-hover: #93dd8d;
  --button-positive-background-active: #8ada84;
  --button-positive-background-disabled: #a6e3a1;
  --button-secondary-background: #45475a;
  --button-secondary-background-hover: #3a3c4c;
  --button-secondary-background-active: #3a3c4c;
  --button-secondary-background-disabled: #45475a;
  --button-outline-danger-text: #cdd6f4;
  --button-outline-danger-border: #f38ba8;
  --button-outline-danger-background: transparent;
  --button-outline-danger-background-hover: #f27f9f;
  --button-outline-danger-text-hover: #1e1e2e;
  --button-outline-danger-border-hover: #f27f9f;
  --button-outline-danger-background-active: #f17497;
  --button-outline-danger-text-active: #1e1e2e;
  --button-outline-danger-border-active: #f27f9f;
  --button-outline-positive-text: #cdd6f4;
  --button-outline-positive-border: #a6e3a1;
  --button-outline-positive-background: transparent;
  --button-outline-positive-background-hover: #9de097;
  --button-outline-positive-text-hover: #1e1e2e;
  --button-outline-positive-border-hover: #9de097;
  --button-outline-positive-background-active: #93dd8d;
  --button-outline-positive-text-active: #1e1e2e;
  --button-outline-positive-border-active: #9de097;
  --button-outline-brand-text: #cdd6f4;
  --button-outline-brand-border: #89b4fa;
  --button-outline-brand-background: transparent;
  --button-outline-brand-background-hover: #7dacf9;
  --button-outline-brand-text-hover: #1e1e2e;
  --button-outline-brand-border-hover: #7dacf9;
  --button-outline-brand-background-active: #71a4f9;
  --button-outline-brand-text-active: #1e1e2e;
  --button-outline-brand-border-active: #7dacf9;
  --button-outline-primary-text: #cdd6f4;
  --button-outline-primary-border: #585b70;
  --button-outline-primary-background: transparent;
  --button-outline-primary-background-hover: #525569;
  --button-outline-primary-text-hover: #1e1e2e;
  --button-outline-primary-border-hover: #525569;
  --button-outline-primary-background-active: #4d4f62;
  --button-outline-primary-text-active: #1e1e2e;
  --button-outline-primary-border-active: #525569;
  --modal-background: #1e1e2e;
  --modal-footer-background: #11111b;
  --scrollbar-thin-thumb: #89b4fa;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #89b4fa;
  --scrollbar-auto-track: #11111b;
  --scrollbar-auto-scrollbar-color-thumb: #89b4fa;
  --scrollbar-auto-scrollbar-color-track: #11111b;
  --input-background: #11111b;
  --input-placeholder-text: #bac2de;
  --logo-primary: #cdd6f4;
  --control-brand-foreground: #89b4fa;
  --control-brand-foreground-new: #89b4fa;
  --mention-foreground: #89b4fa;
  --mention-background: rgba(137, 180, 250, 0.3);
  --background-mentioned: rgba(249, 226, 175, 0.1);
  --background-mentioned-hover: rgba(249, 226, 175, 0.08);
  --background-message-hover: rgba(17, 17, 27, 0.25);
  --background-message-automod: rgba(245, 224, 220, 0.05);
  --background-message-automod-hover: rgba(245, 224, 220, 0.1);
  --background-message-highlight: rgba(137, 180, 250, 0.1);
  --background-message-highlight-hover: rgba(137, 180, 250, 0.08);
  --channels-default: #969ebe;
  --channel-icon: #969ebe;
  --channel-text-area-placeholder: rgba(205, 214, 244, 0.5);
  --channeltextarea-background: #181825;
  --activity-card-background: #11111b;
  --textbox-markdown-syntax: #6c7086;
  --spoiler-revealed-background: #313244;
  --spoiler-hidden-background: #585b70;
  --android-navigation-bar-background: #11111b;
  --android-ripple: rgba(17, 17, 27, 0.3);
  --deprecated-card-bg: rgba(17, 17, 27, 0.6);
  --deprecated-card-editable-bg: rgba(17, 17, 27, 0.3);
  --deprecated-store-bg: #1e1e2e;
  --deprecated-quickswitcher-input-background: #4d4f62;
  --deprecated-quickswitcher-input-placeholder: rgba(17, 17, 27, 0.3);
  --deprecated-text-input-bg: #11111b;
  --deprecated-text-input-border: rgba(17, 17, 27, 0.3);
  --deprecated-text-input-border-hover: #07070b;
  --deprecated-text-input-border-disabled: #181825;
  --deprecated-text-input-prefix: #a6adc8;
  --focus-primary: #89b4fa;
  --interactive-normal: #cdd6f4;
  --interactive-muted: rgba(205, 214, 244, 0.3);
  --interactive-hover: #cdd6f4;
  --interactive-active: #cdd6f4;
}
.theme-dark [class*=disabledPointerEvents],
.theme-light [class*=disabledPointerEvents] {
  --background-floating: #313244;
  --background-tertiary: #242437;
}
.theme-dark [class*=disabledPointerEvents] svg[class|=activityIcon],
.theme-light [class*=disabledPointerEvents] svg[class|=activityIcon] {
  color: #a6adc8;
}
.theme-dark [class*=disabledPointerEvents] [class*=tooltipBrand-] [class*=tooltipText-],
.theme-light [class*=disabledPointerEvents] [class*=tooltipBrand-] [class*=tooltipText-] {
  color: #11111b;
}

::selection {
  background-color: rgba(137, 180, 250, 0.6);
}