.buttons-uaqb-5>.button-ejjZWC:first-child,
.link-39sEB3[href="/store"],
[class*="badgeContainer-"]:has([class*="bogoTrialBadge-"]),
[class*="giftCodeContainer-"]:first-child,
[aria-label="Customize your own profile theme, banner, animated avatar, and more with Nitro!"],
.containerWithMargin-1CVXAM {
  display: none;
}

/* 
* "Exclusive To Nitro" in profile banner GONE 
*/

[class*=premiumIconWrapper] {
display: none;
}

/*
* "GIF" text in profile banner GONE
*/

[class*=gifTag] {
  display: none;
}