/* ShowMeYourName plugin */
.vc-smyn-suffix:before {
	content: '@' !important;
}
.vc-smyn-suffix:after {
	content: '' !important;
}
.vc-smyn-suffix {
	color: currentColor !important;
	opacity: 0.7;
}
