/* ShowMeYourName plugin */
.vc-smyn-suffix:before {
    content: "@" !important
}
.vc-smyn-suffix:after {
    content: "" !important
}
.vc-smyn-suffix {
    color: currentColor !important;
    opacity: 0.7
}
/* Username */
.username-h_Y3Us, 
.base-3bcbY3 .text-3S7XCz strong, 
.name-3DDHNY {
    background: color-mix(in srgb, currentColor 25%, rgba(0, 0, 0, 0.25));
    text-shadow: 0 0 5px color-mix(in srgb, currentColor 25%, rgb(0, 0, 0));
    filter: brightness(1.05);
    margin-right: 4px;
    padding: 0 4px;
    border-radius: 4px;
}
.username-h_Y3Us::after {
    position: relative;
    margin: 0 0 0 8px;
    color: inherit;
    text-shadow: 0 0 5px black;
}
.contents-2MsGLg .username-h_Y3Us::after {
    content: "wrote:"
}
.hasReply-2Cr4KE .contents-2MsGLg .username-h_Y3Us::after {
    content: "replied:"
}
.mentioned-Tre-dv .contents-2MsGLg .username-h_Y3Us::after {
    content: "mentioned:";
}